<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>户外媒宝管理系统</title>
    <meta name="keywords" content="户外媒宝管理系统" />
    <meta name="description" content="户外媒宝管理系统" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="/static/common/frame/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/common/css/gobal.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/backstage.css" media="all">
    <style>
        .larry-btn {display:block; margin:0 auto !important;}
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin larrycms-admin" id="larry_admin_out">
    <!-- 顶部导航 -->
    <div class="layui-header larrycms-header">
        <div class="layui-logo larrycms-logo">
            <!-- <img src="/static/common/images/logo.png"> -->
            户外媒宝
        </div>
        <!-- 右侧 -->
        <div class="larrycms-top pos-a">
            <div class="menu-switch pos-a" id="menuSwitch"><i class="larry-icon pos-a fz20">&#xe6cc;</i></div>
            <div class="menu-mobile pos-a" id="larryMobile"><i class="larry-icon pos-a fz20">&#xe6d6;</i></div>
            <!-- 顶级菜单 -->
            <div class="inline-block larrycms-top-menu pos-a">
                <ul class="layui-nav clearfix" id="larry_top_menu" lay-filter="TopMenu">
                    <!-- 此次动态生成 -->
                </ul>
            </div>
            <!-- 右侧常用菜单 -->
            <div class="inline-block larrycms-offten-menu pos-a">
                <ul class="layui-nav clearfix">
                    <li class="layui-nav-item">
                        <a id="setpassword" data_href="{:url('admin/editpw');}"><i class="larry-icon">&#xe7ce;</i>修改密码</a>
                    </li>
                    <li class="layui-nav-item exit">
                        <a id="logout" data_href="{:URL('login/logout');}"><i class="larry-icon">&#xe68f;</i>退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 左侧区域 -->
    <div class="layui-side pos-a larrycms-left layui-bg-black" id="larry_left">
        <div class="layui-side-scroll">
            <!-- 管理员信息 -->
            <div class="user-info" id="userinfo">
                <a data_href="{:url('admin/editinfo');}" data_icon="&#xe689;" data_title="个人资料"><div class="photo">
                    <img src="{notempty name='admininfo.avatar'}{:config('url_domain')['img']}{$admininfo.avatar}{else/}/static/images/photo/admin.png{/notempty}" alt="">
                </div>
                    <p>{$admininfo.name}，您好！</p></a>
            </div>
            <!-- 系统菜单 -->
            <div class="sys-menu-box" >
                <ul class="layui-nav layui-nav-tree" id="larry_left_menu" lay-filter="LarrySide" data-group='0'>
                    <!-- 此次动态生成 -->
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body pos-a larrycms-body" id="larry_body">
        <div class="layui-tab larrycms-tab" id="larry_tab" lay-filter="larryTab">
            <div class="larrycms-title-box"></div>
            <div class="go-left">
                <div class="key-press pressKey" id="titleLeft" title="滚动至最右侧"><i class="larry-icon">&#xe60b;</i></div>
            </div>
            <ul class="layui-tab-title larrycms-tab-title" lay-allowclose="true" id="larry_tab_title" lay-filter="subadd">
                <li class="layui-this" id="admin-home" lay-id="0" fresh="1">
                    <i class="larry-icon">&#xe79c;</i><em>后台首页</em>
                </li>
            </ul>
            <div class="title-right" id="titleRbox">
                <div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧"><i class="larry-icon">&#xe6e0;</i></div>
                <div class="refresh key-press" id="refresh_iframe">
                    <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#x1002;</i>
                    <cite>刷新</cite>
                </div>
                <div class="often key-press" lay-filter="larryOperate" id="buttonRCtrl">
                    <ul class="layui-nav pos-r">
                        <li class="layui-nav-item pos-a">
                            <a class="top"><i class="larry-icon">&#xea51;</i><cite>常用操作</cite><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                                <dd id="tabCtrD">
                                    <a data-ename="positionCurrent"><i class="larry-icon">&#xea53;</i>定位当前选项卡</a>
                                </dd>
                                <dd id="tabCtrA">
                                    <a data-ename="closeCurrent"><i class="larry-icon">&#xea69;</i>关闭当前选项卡</a>
                                </dd>
                                <dd id="tabCtrB">
                                    <a data-ename="closeOther"><i class="larry-icon">&#xea6a;</i>关闭其他选项卡</a>
                                </dd>
                                <dd id="tabCtrC">
                                    <a data-ename="closeAll"><i class="larry-icon">&#xea6f;</i>关闭全部选项卡</a>
                                </dd>
                                <dd>
                                    <a data-ename="refreshAdmin"><i class="larry-icon">&#xea68;</i>刷新最外层框架</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-tab-content" id="larry_tab_content">
                <div class="layui-tab-item layui-show">
                    <iframe class="larry-iframe" data-id='0' name="ifr_0" id='ifr0'  src="{:URL('index/body');}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 加载js文件-->
<script type="text/javascript" src="/static/common/frame/layui/layui.js"></script>
<script type="text/javascript" src="/static/common/js/gobal.js"></script>
<script type="text/javascript" src="/static/js/larrycms.js"></script>
</body>
</html>